body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(245, 241, 241);
    position:relative;
  }
  .container {
    display: flex;
    justify-content: center;
  }
  
  .right {
    text-align: center;
  }
  
  .center {
    margin-left: 20px;
    margin-top:30px;
  }
  
  .container {
    background-color: dodgerblue;
    color: white;
    padding: 5px;
    text-align: center;
}
  nav {
    color: rgb(255, 255, 255);
    display: flex;
    justify-content:center;
    font-size: 25px;
  }
  .element{
    padding-right:  50px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  s
  nav li {
    display: inline-block;
  }
  
  nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  
  main {
    padding: 20px;
  }
  
  footer {
    color: white;
    padding: 20px;
    text-align: center;
  }
   
  .slider{
    width: 1500px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .slides{
    width: 500%;
    height: 500px;
    display: flex;
  }
  
  .slides input{
    display: none;
  }
  
  .slide{
    width: 20%;
    transition: 2s;
  }
  
  .slide img{
    width: 1500px;
    height: 500px;
    
  }
  
  .navigation-mannual{
    position: absolute;
    width: 1500px;;
    margin-top: -40px;
    display: flex;
    justify-content: center;
  }
  
  .mannual-btn{
    border: 2px solid #ccc;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }
  
  .mannual-btn:not(:last-child){
    margin-right: 40px;
  }
  
  .mannual-btn:hover{
    background-color: #ccc;
  }
  
  #radio1:checked ~ .first{
    margin-left: 0;
  }
  
  #radio2:checked ~ .first{
    margin-left: -20%;
  }
  
  #radio3:checked ~ .first{
    margin-left: -40%;
  }
  
  #radio4:checked ~ .first{
    margin-left: -60%;
  }
  
  /* Automatic Navigation */
  .navigation-auto{
    position: absolute;
    display: flex;
    width: 1500px;
    justify-content: center;
    margin-top: 460px;
  }
  
  .navigation-auto div{
    border: 2px solid #333;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
  }
  
  .navigation-auto div:not(:last-child){
    margin-right: 40px;
  }
  
  #radio1:checked ~.navigation-auto .auto-btn-1{
    background: #ccc;
  }
  
  #radio2:checked ~.navigation-auto .auto-btn-2{
    background: #ccc;
  }
  
  
  #radio3:checked ~.navigation-auto .auto-btn-3{
    background: #ccc;
  }
  
  #radio4:checked ~.navigation-auto .auto-btn-4{
    background: #ccc;
  }
.ar {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(245, 241, 241);;
}
.buttono {
display: flex;
justify-content: right;
padding-right: 20px;
padding-top: 20px;
}
button  {
  font-size: larger;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}.master {
  padding-top: 20px;
  width: 306;
  height: 306;
  display: flex;
  justify-content: space-evenly;
}
.element a:hover {
color: grey;
}
.card {
  box-shadow: 0 4px 8px 0 gray;
  max-width: 306px;
  max-height: 340px;
  margin: auto;
  text-align: center;
  font-family: arial;
  border-radius: 5%;
}

.card-image {
  width: 306px;
  height: 300px;
  border-radius: 5%;
}

.card-title {
  color: grey;
  font-size: 18px;
}

.card-text {
  padding-bottom: 10px;
  font-size: 14px;
  color: black;
  margin: 10px 0;
}
.head1 {
  padding-left: 30px;
}
.bottom {
  padding-top: 1px;
  padding-right: 100px;
  text-align: right;
  height: 370px;
  background-color:#555;
}
.bottom li{
  list-style-type: none;
}
.bottom img{
  width: 50px;
  height: 50px;
}
.space {
  padding-right: 70px;
}
.spacer{
  height: 70px;
}
